body{
    background-color: rgb(255, 255, 255);
}
#component{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#text, #password, #button{
    border-radius: 5px;
    border-color: rgb(48, 48, 48);
    height: 30px;
    outline: none;
    box-shadow: none;
}
#text, #password{
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

#button{
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}

#button:hover{
    background-color: rgb(30, 30, 30);
}

.signup-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -20px;
}


/* //signup form ends here */